* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
    width: 100%;
    display: grid;
    padding: 5%;
    padding-left: 15%;
    grid-template-columns: 60% 40%;
    background: #bda2e0;
}

.controls{
    display: flex;
    width: 500px;

    justify-content: space-evenly;
    
}

.reproductor{
    display: flex;
    flex-direction: column;
    background: #bda2e0;
    align-items: center;
    
    justify-content: space-between;
    width: 600px;
    height: 500px;
}


.reproductor h2{
      display: flex;
    justify-content: center;
    align-items: center;
    
}

.reproductor p{
      display: flex;
    justify-content: center;
    align-items: center;
}



.reproductor img{
     width: 600px;
    height: 400px;
}

.cancion-lista img{
    width: 70px;
    height: 65px;
}

.cancion-lista{
    display: flex;
    gap: 25px;
    padding: 10px;
}

.lista{
    max-height: 500px;
    overflow: auto;
}